* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
    height: 100vh;
}

main {
    position: relative;
    /* height: 600px;
    width: 100%; */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: .5em;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: .2em;
}

p {
    font-size: 1.5rem;
    color: hsl(217, 12%, 63%);
    /* margin-top: 1.4em; */
    margin-bottom: 1.5em;
    line-height: 1.5;
}

.info-message {
    text-align: center;
    color: hsl(25, 97%, 53%);
    background-color: hsla(216, 12%, 54%, 0.137);
    border-radius: 2em;
    width: 60%;
    padding: .5em .4em .3em .4em;
    line-height: 1.4;
    margin-top: 1.6em;
}

h2+p {
    text-align: center;
    margin-top: .7em;
    margin-bottom: 1.9em;
}

section {
    background-color: hsl(213, 19%, 18%);
    width: 340px;
    color: hsl(0, 0%, 100%);
    padding: 2.7em 2.2em;
    border-radius: 2em;
    /* position: relative; */
    /* top: 5em;
    left: 10vw; */
}

.star-img {
    background-color: hsla(216, 12%, 54%, 0.137);
    background-image: url(./images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 4.2em;
    width: 4.2em;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

form label {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    text-align: center;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
}

label[for="rating1"] {
    top: .9em;
    left: 1.3em;
}

label[for="rating2"] {
    top: .9em;
    left: 5.35em;
}

label[for="rating3"] {
    top: .9em;
    left: 9.6em;
}

label[for="rating4"] {
    top: .9em;
    right: 5.35em;
}

label[for="rating5"] {
    top: .9em;
    right: 1.05em;
}


input[type="radio"] {
    /* reset browser styles */
    appearance: none;
    display: grid;
    place-content: center;
    width: 4.3em;
    height: 4.3em;
    background-color: hsla(216, 12%, 54%, 0.137);
    border-radius: 50%;
    font: inherit;
    margin: 0;
    cursor: pointer;
}

input[type="radio"]::before {
    display: block;
    content: "";
    width: 4.3em;
    height: 4.3em;
    border-radius: 50%;
    background-color: hsl(216, 12%, 54%);
    transform: scale(0);
    transition: 120ms transform ease-in-out;

}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:hover {
    background-color: hsl(25, 97%, 53%);
}

input[type="radio"]:checked+label,
input[type="radio"]:hover+label {
    color: hsl(0, 0%, 100%);
}

form button {
    width: 100%;
    font-family: inherit;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2em;
    padding: 1.2em 2em 1em 2em;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin-top: 1.9em;
    margin-bottom: .5em;
    cursor: pointer;
    text-align: center;
    /* font-weight: 700; */
}


img {
    display: block;
}

.thank-you-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1em;
    padding-top: 3.1em;
}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.not-visible {
    display: none;
}

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media screen and (min-width: 800px) {
    section {
        width: 400px;
        padding-left: 2.9em;
        padding-right: 3.2em;
        padding-top: 3em;
    }

    input[type="radio"] {
        width: 4.9em;
        height: 4.9em;
    }

    input[type="radio"]::before {
        height: 4.9em;
        width: 4.9em;
    }

    label[for="rating1"] {
        top: 1.1em;
        left: 1.5em;
    }

    label[for="rating2"] {
        top: 1.1em;
        left: 6.2em;
    }

    label[for="rating3"] {
        top: 1.1em;
        left: 11.05em;
    }

    label[for="rating4"] {
        top: 1.15em;
        right: 6.15em;
    }

    label[for="rating5"] {
        top: 1.15em;
        right: 1.3em;
    }

    h1 {
        margin-top: 1.4em;
    }

    h2 {
        font-size: 2.7rem;
    }

    .thank-you-state img {
        margin-top: 1.4em;

    }

    .info-message {
        width: 55%;
        margin-top: 2em;
        margin-bottom: 1.6em;
    }
}