* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: .5em;
}

p {
    font-size: 1.5rem;
    color: hsl(217, 12%, 63%);
    /* margin-top: 1.4em; */
    margin-bottom: 1.5em;
    line-height: 1.5;
}

section {
    background-color: hsl(213, 19%, 18%);
    width: 340px;
    color: hsl(0, 0%, 100%);
    padding: 2.7em 2.2em;
    border-radius: 1.5em;
}

.rating-state {
    margin-bottom: 2em;
}

.star-img {
    background-color: hsla(216, 12%, 54%, 0.137);
    background-image: url(./images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 4.2em;
    width: 4.2em;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

form label {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    text-align: center;
    color: hsl(217, 12%, 63%);
}

label[for="rating1"] {
    top: .9em;
    left: 1.2em;
}

label[for="rating2"] {
    top: .9em;
    left: 5.35em;
}

label[for="rating3"] {
    top: .9em;
    left: 9.6em;
}

label[for="rating4"] {
    top: .9em;
    right: 5.35em;
}

label[for="rating5"] {
    top: .9em;
    right: 1.05em;
}


input[type="radio"] {
    /* reset browser styles */
    appearance: none;
    display: grid;
    place-content: center;
    width: 4.2em;
    height: 4.2em;
    background-color: hsla(216, 12%, 54%, 0.137);
    border-radius: 50%;
    font: inherit;
    margin: 0;
}

input[type="radio"]::before {
    display: block;
    content: "";
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    background-color: hsl(216, 12%, 54%);
    transform: scale(0);
    transition: 120ms transform ease-in-out;

}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:hover {
    background-color: hsl(25, 97%, 53%);
}

input[type="radio"]:checked+label,
input[type="radio"]:hover+label {
    color: hsl(0, 0%, 100%);
}

/* .rating-select span {
    padding: .8em 1.2em .6em 1.2em;
    border-radius: 2em;
    background-color: hsla(217, 12%, 63%, 0.103);
    text-align: center;
}  */

form button {
    width: 100%;
    font-family: inherit;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2em;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 2em;
    /* font-weight: 700; */
}

.not-visible {
    visibility: hidden;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}